<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3">
        <p class="navbar-text" *ngIf="leftRouterLink"><a routerLink="{{leftRouterLink}}">{{leftLinkName}}</a></p>
      </div>
      <div class="col-xs-6">
        <div class="navbar-brand">{{title}}</div>
      </div>
      <div class="col-xs-3">
        <p class="navbar-text" *ngIf="rightRouterLink"><a routerLink="{{rightRouterLink}}">{{rightLinkName}}</a></p>
      </div>
    </div>
  </div>
</nav>
<div id="navigation-dummy"></div>